*{
    margin:0;
    font-family:Arial;
    box-sizing:border-box;
    
}


.navbar{
    height:60px;
     color:rgb(238, 237, 237);
    background-color:#0f1111;
    display:flex;
    justify-content:space-evenly;
   align-items:center;
    
}
.nav-logo{
    height:50px;
    width:135px;
}
.logo{
    background-image:url("./img/amazon_PNG25.png");
    background-size:cover;
    height:50px;
    width:129px;
}
.border{
    border:2px solid transparent;
}
.border:hover{
    border:2px solid white;
    padding:4px;
}
.address-first{
    font-size:0.7rem;
}
.address-second{
    font-size:1rem;
    margin-left:5px;
}
.add-icon{
    display:flex;
}
.address-first{
    margin-left:15px;
}
.nav-address{
    border:2px solid transparent;
}
.nav-address:hover{
    border:2px solid white;
}
.nav-search{
    display:flex;
    border-radius:4px;
     background-color:rgb(255, 136, 0);
    align-items:center;
    justify-content:space-evenly;
    width:620px;
    height:40px;
}
.search-select{
   height:100%;
    text-align:center;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
}
.search-input{
    height:100%;
    width:100%;
    font-size:1rem;
   
}
.search-icon{
    width:50px;
    display:flex;
    justify-content:center;
    color:black;
   
    

}
.nav-search:hover{
    border:2px solid orange;
}
span{
    font-size:0.7rem;
}
.nav-second{
    font-size:0.85rem;
    font-weight:700;
}
.nav-cart i{
        font-size:30px;
}
.nav-cart{
    font-weight:700;
    font-size:0.85rem;
}
.panel{
    height:40px;
    background-color:#3b4949;
    display:flex;
    align-items:center;
    color:white;
    padding-left:20px;
   
}
.panel-ops p{
    display:inline;
    padding-left:20px;
}
.hero-section{
    background-image:url("hero.jpg");
    height:500px;
    background-size:cover;
    display:flex;
    
    justify-content:center;
    align-items:flex-end;
  
}
.hero-msg{
    height:40px;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:white;
    font-size:0.85rem;
    width:90%;
    color:black;
    margin-bottom:40px;
}
.hero-msg a{
    color:#007183;
}
.box{
    height:400px;
    width:300px;
    border:2px solid black;
}
.shop-section{
    display:flex;
    justify-content:space-evenly;
    background-color: #e6e6e6;
}
.b1img{
    background-image:url("gamingpc.jpg");
    background-size:cover;
    width:250px;
    height:250px;
}

.box1content{
    margin:15px 15px 15px 15px;
   
}
.box1content h2{
    font-size:18px;
   
}
.allbox{
    display:flex;
    
   
}
.box {
    background-color:white;
    padding: 15px;
    margin: 10px;
    width: 320px;
}



.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}



.img {
    height: 100px;
    background-size: cover;
    background-position: center;
    
}

/* Replace with your images */
.b2img {
    background-image: url("b2img.jpg");
}

.b21img {
    background-image: url("b21img.jpg");
}

.b22img {
    background-image: url("b22img.jpg");
}

.b23img {
    background-image: url("b23img.jpg");
}

.card p {
    font-size: 13px;
    margin-top: 5px;
}
.card{
    margin-top:20px;
}
.cooker{
    background-image:url("cooker.jpg");
    width:280px;
    height:150px;
    background-size:cover;
    background-position:center;
    
}
.grid1{
 display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
   
   

}
.c2{
    background-image:url("c2.jpg");
    width:90px;
    height:90px;
     background-size:cover;
    background-position:center;
    margin-left:5px;

}
.c3{
    background-image:url("c3.jpg");
     width:90px;
    height:90px;
  background-size:cover;
    background-position:center;
     margin-left:5px;

}
.c4{
    background-image:url("c4.jpg");
      width:90px;
    height:90px;
  background-size:cover;
    background-position:center;
     margin-left:5px;

}
.kitchen p{
    font-size:0.8rem;
    margin-left:5px;
}

.box3,.box1,.box2,.box4{
    display: flex;
    flex-direction: column;
 
}

.text {
    margin-top:auto;
}
.b1img{
    margin-top:15px;
    margin-right:15px;
}
.box1 h2{
    
    font-size:18px;
    margin-bottom:15px;
}
.box2 h2{
    font-size:18px;
    margin-bottom:15px;
}
.box3 h2{
    font-size:18px;
    margin-bottom:15px;
       
    
   
}
.box4 h2{
    margin-bottom:20px;
    font-size:18px;
    margin-left:14px;
}
.grid3{
    display:grid;
    grid-template-columns:1fr 1fr;
   
}
.m1{
    background-image:url("m1.jpg");
    height: 100px;
    background-size:cover;
    background-position:center;
     margin:15px 15px 15px 15px;
}
.m2{
    background-image:url("m2.jpg");
   height: 100px;
    background-size:cover;
    background-position:center;
     margin:15px 15px 15px 15px;
}
.m3{
    background-image:url("m3.jpg");
     height: 100px;
      background-size:cover;
    background-position:center;
     margin:15px 15px 15px 15px;
}
.m4{
    background-image:url("m4.jpg");
    height: 100px;
     background-size:cover;
    background-position:center;
     margin:15px 15px 15px 15px;
}
.grid2 p{
    margin-left:15px;
    font-size:0.8rem;
}
.shop-section2{
    display:flex;
    background-color:#e6e6e6;

}
.grid6{
    font-size:0.8rem;
    margin-left:4px;
}
.grid6{
    display:grid;
    grid-template-columns:1fr 1fr;
}
.shop1{
    background-image:url("shop1.jpg");
    width:100%;
    
}

.shop2{
    background-image:url("shop2.jpg");
    width:90%;
   margin-left:10px;
   margin-right:20px;
   
}
.shop3{
    background-image:url("shop3.jpg");
    width:100%;
    
}

.shop4{
    background-image:url("shop4.jpg");
    width:90%;
   margin-left:10px;
   margin-right:20px;
   
}
.grid7{
    font-size:0.8rem;
    margin-left:4px;
}
.grid7{
    display:grid;
    grid-template-columns:1fr 1fr;
}
.techie{
    background-image:url("techie.jpg");
    width:100%;
    
}

.techie1{
    background-image:url("techie1.jpg");
    width:90%;
   margin-left:10px;
   margin-right:20px;
   
}
.techie2{
    background-image:url("techie2.jpg");
    width:100%;
    
}

.techie3{
    background-image:url("techie3.jpg");
    width:90%;
   margin-left:10px;
   margin-right:20px;
   
}
.grid8{
    font-size:0.8rem;
    margin-left:4px;
}
.grid8{
    display:grid;
    grid-template-columns:1fr 1fr;
}
.fashion1{
    background-image:url("fashion1.jpg");
    width:100%;
    
}

.fashion2{
    background-image:url("fashion2.jpg");
    width:90%;
   margin-left:10px;
   margin-right:20px;
   
}
.fashion3{
    background-image:url("fashion3.jpg");
    width:100%;
    
}

.fashion4{
    background-image:url("fashion4.jpg");
    width:90%;
   margin-left:10px;
   margin-right:20px;
   
}
.grid9{
    font-size:0.8rem;
    margin-left:4px;
}
.grid9{
    display:grid;
    grid-template-columns:1fr 1fr;
}
.f1{
    background-image:url("f1.jpg");
    width:100%;
    
}

.f2{
    background-image:url("f2.jpg");
    width:90%;
   margin-left:10px;
   margin-right:20px;
   
}
.f3{
    background-image:url("f3.jpg");
    width:100%;
    
}

.f4{
    background-image:url("f4.jpg");
    width:90%;
   margin-left:10px;
   margin-right:20px;
   
}
.grid10{
    font-size:0.8rem;
    margin-left:4px;
}
.grid10{
    display:grid;
    grid-template-columns:1fr 1fr;
}
.a1{
    background-image:url("a1.jpg");
    width:100%;
    
}

.a2{
    background-image:url("a2.jpg");
    width:90%;
   margin-left:10px;
   margin-right:20px;
   
}
.a3{
    background-image:url("a3.jpg");
    width:100%;
    
}

.a4{
    background-image:url("a4.jpg");
    width:90%;
   margin-left:10px;
   margin-right:20px;
   
}
.grid11{
    font-size:0.8rem;
    margin-left:4px;
}
.grid11{
    display:grid;
    grid-template-columns:1fr 1fr;
}
.b1{
    background-image:url("b1.jpg");
    width:100%;
    
}

.b2{
    background-image:url("b2.jpg");
    width:90%;
   margin-left:10px;
   margin-right:20px;
   
}
.b3{
    background-image:url("b3.jpg");
    width:100%;
    
}

.b4{
    background-image:url("b4.jpg");
    width:90%;
   margin-left:10px;
   margin-right:20px;
   
}
.grid12{
    font-size:0.8rem;
    margin-left:4px;
}
.grid12{
    display:grid;
    grid-template-columns:1fr 1fr;
}
.c1{
    background-image:url("c1.jpg");
    width:100%;
    
}

.d2{
    background-image:url("d2.jpg");
    width:90%;
   margin-left:10px;
   margin-right:20px;
   
}
.d3{
    background-image:url("d3.jpg");
    width:100%;
    
}

.d4{
    background-image:url("d4.jpg");
    width:90%;
   margin-left:10px;
   margin-right:20px;
   
}
.grid13{
    font-size:0.8rem;
    margin-left:4px;
}
.grid13{
    display:grid;
    grid-template-columns:1fr 1fr;
}
.e1{
    background-image:url("e1.jpg");
    width:100%;
    
}

.e2{
    background-image:url("e2.jpg");
    width:90%;
   margin-left:10px;
   margin-right:20px;
   
}
.e3{
    background-image:url("e3.jpg");
    width:100%;
    
}

.e4{
    background-image:url("e4.jpg");
    width:90%;
   margin-left:10px;
   margin-right:20px;
   
}
.grid14{
    font-size:0.8rem;
    margin-left:4px;
}
.grid14{
    display:grid;
    grid-template-columns:1fr 1fr;
}
.g1{
    background-image:url("g1.jpg");
    width:100%;
    
}

.g2{
    background-image:url("g2.jpg");
    width:90%;
   margin-left:10px;
   margin-right:20px;
   
}
.g3{
    background-image:url("g3.jpg");
    width:100%;
    
}

.g4{
    background-image:url("g4.jpg");
    width:90%;
   margin-left:10px;
   margin-right:20px;
   
}
.grid15{
    font-size:0.8rem;
    margin-left:4px;
}
.grid15{
    display:grid;
    grid-template-columns:1fr 1fr;
}
.h1{
    background-image:url("h1.jpg");
    width:100%;
    
}

.h2{
    background-image:url("h2.jpg");
    width:90%;
   margin-left:10px;
   margin-right:20px;
   
}
.h3{
    background-image:url("h3.jpg");
    width:100%;
    
}

.h4{
    background-image:url("h4.jpg");
    width:90%;
   margin-left:10px;
   margin-right:20px;
   
}
.grid16{
    font-size:0.8rem;
    margin-left:4px;
}
.grid16{
    display:grid;
    grid-template-columns:1fr 1fr;
}
.i1{
    background-image:url("i1.jpg");
    width:100%;
    
}

.i2{
    background-image:url("i2.jpg");
    width:90%;
   margin-left:10px;
   margin-right:20px;
   
}
.i3{
    background-image:url("i3.jpg");
    width:100%;
    
}

.i4{
    background-image:url("i4.jpg");
    width:90%;
   margin-left:10px;
   margin-right:20px;
   
}
.grid17{
    font-size:0.8rem;
    margin-left:4px;
}
.grid17{
    display:grid;
    grid-template-columns:1fr 1fr;
}
.j1{
    background-image:url("j1.jpg");
    width:100%;
    
}

.j2{
    background-image:url("j2.jpg");
    width:90%;
   margin-left:10px;
   margin-right:20px;
   
}
.j3{
    background-image:url("j3.jpg");
    width:100%;
    
}

.j4{
    background-image:url("j4.jpg");
    width:90%;
   margin-left:10px;
   margin-right:20px;
   
}
.grid18{
    font-size:0.8rem;
    margin-left:4px;
}
.grid18{
    display:grid;
    grid-template-columns:1fr 1fr;
}
.k1{
    background-image:url("k1.jpg");
    width:90%;
    
}

.k2{
    background-image:url("k2.jpg");
    width:90%;
  
   
}
.k3{
    background-image:url("k3.jpg");
    width:90%;
    
}

.k4{
    background-image:url("k4.jpg");
    width:90%;
   
   margin-right:20px;
   
}
.grid19{
    font-size:0.8rem;
    margin-left:4px;
}
.grid19{
    display:grid;
    grid-template-columns:1fr 1fr;
}
.l1{
    background-image:url("l1.jpg");
    width:100%;
    
}

.l2{
    background-image:url("l2.jpg");
    width:90%;
   margin-left:10px;
   margin-right:20px;
   
}
.l3{
    background-image:url("l3.jpg");
    width:100%;
    
}

.l4{
    background-image:url("l4.jpg");
    width:90%;
   margin-left:10px;
   margin-right:20px;
   
}
.grid20{
    font-size:0.8rem;
    margin-left:4px;
}
.grid20{
    display:grid;
    grid-template-columns:1fr 1fr;
}
.n1{
    background-image:url("n1.jpg");
    width:100%;
    
}

.n2{
    background-image:url("n2.jpg");
    width:90%;
   margin-left:10px;
   margin-right:20px;
   
}
.n3{
    background-image:url("n3.jpg");
    width:100%;
    
}

.n4{
    background-image:url("n4.jpg");
    width:90%;
   margin-left:10px;
   margin-right:20px;
   
}
.grid21{
    font-size:0.8rem;
    margin-left:4px;
}
.grid21{
    display:grid;
    grid-template-columns:1fr 1fr;
}
.o1{
    background-image:url("o1.jpg");
    width:100%;
    
}

.o2{
    background-image:url("o2.jpg");
    width:90%;
   margin-left:10px;
   margin-right:20px;
   
}
.o3{
    background-image:url("o3.jpg");
    width:100%;
    
}

.o4{
    background-image:url("o4.jpg");
    width:90%;
   margin-left:10px;
   margin-right:20px;
   
}
.grid12{
    font-size:0.8rem;
    margin-left:4px;
}
.grid12{
    display:grid;
    grid-template-columns:1fr 1fr;
}
.c1{
    background-image:url("c1.jpg");
    width:100%;
    
}

.d2{
    background-image:url("d2.jpg");
    width:90%;
   margin-left:10px;
   margin-right:20px;
   
}
.d3{
    background-image:url("d3.jpg");
    width:100%;
    
}

.d4{
    background-image:url("d4.jpg");
    width:90%;
   margin-left:10px;
   margin-right:20px;
   
}
.longdiv{
     background-color:#e6e6e6;
    width:100%;
    height:370px;
     padding-top:30px;
     
   }
   .back{
    background-color:#e6e6e6;
   }
   .longimg{
    width:1321px;
    height:330px;
    border:2px solid black;
    margin-left:11px;
     margin-right:11px;
     background-color:white;
    
   }
   .long{
    background-image:url("longimg.jpg");
    width:1316px;
    height:200px;
    background-size:cover;
    background-position:center;
    margin-top:10px;
   
   }
  .longdiv h2{
    margin-top:20px;
    font-size:20px;
    margin-left:20px;
  }
  .longimg2{
    width:1321px;
    height:300px;
     border:2px solid black;
    margin-left:11px;
     margin-right:11px;
     background-color:#e6e6e6;
  }
  .long2{
    background-image:url("longimg2.jpg");
    width:100%;
    height:100%;

  }
  .shop-section3{
    display:flex;
   
  }

  .seepersonal{
   width: calc(100% - 20px);
    height:200px;
    border:0.5px solid black;
   
    margin:9px 9px 9px 9px;
 
  }
  .signb{
    width:150px;
    height:40px;
    background-color:rgb(255, 217, 0);
    border-radius:10px;
    border:none;
    margin-top:10px;
  }
  .seepersonal{
    text-align:center;
    
    

  }
  .center{
    margin-top:60px;
    
  }
   #button{
    padding-top:10px;
  }
  .signb:hover{
    background-color:rgb(255, 145, 0);
  }
  .center p,a{
    font-size:0.8rem;
    margin-top:10px;
  }
  .center a{
    text-decoration: underline;
    color:#007183;
  }
  .backtop{
    width:100%;
    height:40px;
    background-color:#3b4949;
   
   
  }
   .backtop p{
    color:white;
    font-size:20px;
   }
   .footer{
    width:100%;
    height:400px;
    background-color:#2c3f4b;
   }
   .long4{
     display:flex;
        background-size:cover;
    background-image:url("long4.jpg");
    height:270px;
   }
    .long5{
         display:flex;
        background-size:cover;
    background-image:url("long5.jpg");
    height:270px;
   }
    .long6{
         display:flex;
        background-size:cover;
    background-image:url("long6.jpg");
    height:270px;
   }
     .long7{
         display:flex;
        background-size:cover;
    background-image:url("long7.jpg");
    height:270px;
   }
    .long8{
        display:flex;
        background-size:cover;
    background-image:url("long8.jpg");
    height:270px;
   }
   .footer{
    display:flex;
    justify-content:space-evenly;
   
   }
   .footer h3{
    margin-top:40px;
    padding:10px;
    color:white;
   }
   .footer p{
     font-size:3rem;
    margin-top:10px;
    margin-left:10px;
    font-size:3rem;
   }
    .footer a{
     font-size:14px;
     color:rgb(245, 241, 241, 0.87);
     text-decoration:none;
    }
    .footer a:hover{
        text-decoration:underline;
    }
    hr{
        background-color:rgb(110, 102, 102);
        height:0.5px;
        border:none;
        
        width:100%;
    }
    .footer2{
        background-color:#2c3f4b;
        height:150px;
    }
    .img1{
       width:100px;
       height:auto;
         margin:10px;
         margin-right:90px;
    }
    .LANGUAGE{
        font-size:20px;
        border-left:none;
       border:1px solid rgb(192, 187, 187);
        background-color:#2c3f4b;
        color:rgb(161, 157, 157);
        
    }
    .footer4{
        height:600px;
        background-color:#121618;
    }
    
      
    
    .language-box{
        border:1px solid rgb(192, 187, 187);
        width:150px;
        height:30px;
        color:rgb(192, 184, 184);
        display:flex;
        justify-content:center;
        align-items:center;
         margin:10px;

    }
    .list{
        background-color:#2c3f4b;
        border:none;
       
        color:rgb(192, 184, 184);
    }
    .usd{
         margin:10px;
        display:flex;
        font-size:15px;
        width:150px;
        height:30px;
        align-items:center;
        justify-content:center;
        border:1px solid #aa9e9e;
        color:rgb(161, 157, 157);
        
      }
      .img3{
        height:20px;
        width:20px;
      }
      .united{
        width:150;
        height:30;
        display:flex;
        align-items:center;
        justify-content:center;
         margin:10px;
        border:2px solid rgb(153, 142, 142);
        color:rgb(161, 157, 157);
    }

      .last{
        display:flex;
       justify-content:center;
       padding:20px;
       margin:20px;
       
      }
      
    .footer4{        display:flex;
        justify-content:space-evenly;
        
        }

        .lis1 {
            padding-top:40px;
           font-size:10px;
          
        }
        .footer4 a {
            color:rgba(136, 133, 133, 0.87);
            margin-top:10px;
             font-size:19px;
              text-decoration:none;
        }
        .footer4 a:hover{
            text-decoration:underline;
        }
      .lis1 p{
        margin-top:3px*;
       font 
      }
      .l12,.l13,.l14,.l15,.l16,.l17,.l18,.l19,.l20,.l21{
       
      }
        
     
